<form method="post" action="{{ path('tipo_consulta_delete', {'idtipoConsulta': tipo_consultum.idtipoConsulta}) }}" onsubmit="return confirm('Você tem certeza que deseja excluir esse item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_consultum.idtipoConsulta) }}">
    <button class="btn btn-danger">Deletar</button>
</form>
