<form method="post" action="{{ path('prontuarios_delete', {'id': prontuario.id}) }}" onsubmit="return confirm('Você tem certeza que deseja excluir esse item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prontuario.id) }}">
    <button class="btn btn-danger">Deletar</button>
</form>
